* {
    margin: 0px;
    border: 0px;
    list-style-type: none;
    list-style-position: inside;
    background-color: rgb(64, 64, 64);
    color: bisque;
}




.hero{
    color: red;
    display: flex;
    justify-content: center;
    padding: 15px;

}

.link_hub {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: space-around;
    /* width: 55%; */
}


.nav_ul {
    background-color: rgba(200, 12, 12, 0.726);
    
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}



.nav_li {
    background-color:black;
    padding: 25px;
    margin: 0px 2px 0px 2px;
}


.nav_li a{
    color: beige;
    background-color: black;
}

.order_ul {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0px;

}

.order_li {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
    width: 50%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.082);
}

.order_li h2 {
    background-color:transparent;
}

.container_hero{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 15px;
    padding: 0px;
}

.hero_ul {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0px;
}

.hero_li {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    width: 33%;

}

.hero_ul b{
    font-weight: 800;
    font-size: xx-large;
}

.hero_ul p{
    color: gold;
    font-size: medium;
    display: flex;
    font-weight: 400;
    justify-content: center;
}

.new_order {
    display: flex;
    justify-content: center;

}

.purchase_form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.form_label {
    color: red;
    justify-content: center;
    font-size: x-large;
    font-weight: 600;
}

.purchase_form li{
    display: flex;
    
    margin-top: 15px;
    justify-content: center;
}

.purchase_form select {
    background-color: rgba(56, 54, 54, 0.726);
}

.purchase_form button {
    background-color:rgba(56, 54, 54, 0.726);
}

.item_list {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.item_item {
    justify-content: space-around;
    padding: 5px;
}


.item_container{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 0px;
}

.item_container_holder {
    display: flex;
    justify-content: center;
    width: 25%;
    align-items: center;
}




.item_container_right {
}

.item_description {
}

.item_description_cost {
    margin: 15px;
    background-color: transparent;
}

.item_description_description {
    margin: 15px;
    background-color: transparent;

}

.description_text_ {
    font-size: large;
    background-color: transparent;

}

.description_text {
    font-style: italic;
    font-size: medium;
    background-color: transparent;

}
.cost_title{
    font-size: larger;
    font-weight: 800;
    background-color: transparent;

}
.cost_cost{
    color: gold;
    font-size: large;
    font-weight: 600;
    background-color: transparent;

}

.item_header {
    color: bisque;
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: rgba(29, 28, 28, 0.493);

}

.error {
    color: beige;
    background-color: black;
    display: flex;
    justify-content: center;
}

.backpack {
    filter: sepia(100%);
}

.button {
    margin: 1px;
    border: 5px;
    background-color: black;
}