<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dota Shop App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

<header>
    <nav>
        <ul class="nav_ul">
            <li class="nav_li"><a href="/">Home</a></li>
            <li class="nav_li"><a href="/heroes">Heroes</a></li>
            <li class="nav_li"><a href="/order">Courier Journies</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    
        
    {% endblock content %}
</main>
</body>
</html>