{% extends 'base.jinja' %}
{% block content %}
<div class="hero">
<h1>Welcome to the Dota item shop</h1>
</div>
<br><br>
<div class="link_hub">
<b>View Heroes: <a href="/hero"><button type="button" class="button">Here</button></a></b>
<b>View Orders: <a href="/order"><button type="button" class="button">Here</button></a></b>
</div>    
{% endblock content %}